/* -------------------------------- 

Primary style

-------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  background-color: #171717;
}

#cd-intro {
  position: relative;
  z-index: 1;
}
.mockimage {
width:80%;
}
.caseheader {
  text-align:center;
  font-weight:bold;
  font-family: Roboto,sans-serif;
  color:white;
  line-height:80px;
  font-size:130px;
}
.caseheadersmall{
  color:white;
  text-align:center;
  letter-spacing:10px;
  font-size:20px;
}
#cd-intro{
  margin-top:200px;
  margin-bottom:100px;
}
.image {
  display: block;
position: relative;
width: auto;
max-width: none;
}
.cd-content {
  position: relative;
  line-height: 1.6;
  color: #65676f;
  z-index: 2;
}
.cd-content::before {
  /* subtle gradient right above the main content */
  content: '';
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 50px;
  background: -webkit-linear-gradient( bottom , rgba(46, 49, 61, 0.5), rgba(46, 49, 61, 0));
  background: linear-gradient(to top, rgba(46, 49, 61, 0.5), rgba(46, 49, 61, 0));
}
.no-cssgradients .cd-content::before {
  /* use Modernizr to detect whether the browser supports or not css gradients */
  display: none;
}
.workheader {
    margin-bottom: 10px;
    font-size: 55px;
    font-weight:700;
    text-transform: uppercase;
    text-align:center;
    color:white;
}
.worksubheader {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight:bold;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin-top:50px;
    text-align:center;
    color:black;
}
.worksubheader2 {
    margin-bottom: 10px;
    font-size: 80px;
    font-weight:bold;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin-top:50px;
    text-align:center;
    color:#fff;
}
.workgroup p {
  text-align:center;
  color:#cbcbc9;
}
.workfooter {
  padding:50px;
  background-color:black;
  width:100%;
  margin-top:80px;
}
.workfooter h4{
  font:italic 2em georgia;
  text-align:center;
  padding:20px;
  color:#cbcbc9;
}
.workfooter p{
  font-size:1em;
  text-align:center;
  text-transform:uppercase;
  font-weight:500;
  color:#fff;
}
.workfooter p span{
  color:#ffb96c;
}
.workdescription {
  text-align:left;
  padding-bottom:50px;
  color:#cbcbc9;
  line-height:1.6;
  padding-left:15px;
  padding-right:15px;
  font-size:18px;
}
.workdescriptiontag {
  text-align:center;
  padding-bottom:50px;
  color:#cbcbc9;
  line-height:1.6;
  color:white;
  font-weight:300;
  font-size:15px;
  letter-spacing:3px;
  opacity:.8;
}
.workinfos {
  background-color: #cbcbc9;
  padding:40px;
}
.workinfos ul {
  padding-bottom:20px;
  color:black;
}
.workgroup {
 padding:50px 0;
}

/* Nav Adjustments */
/* Nav Bar */
.navbar {
    background-color: rgba(0,0,0, 1);
}
.scrolling-navbar {
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
}
.DesktopNavLink {
    font-size: 1.5em;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    line-height:60px;
    font-weight:500;
    font-family:Roboto;
    letter-spacing:0.1em;
    color: #FFFFFF;
    text-transform: uppercase;
    text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
    padding:50px;
}
.DesktopNavLink:hover {
    color: #ffb96c;
}
.navbar {
    padding:0;
    height:65px;
}
.navlogoSV {
display: block;
margin: 0 0 0 -50px;
padding: 15px 13px 33px;
position: absolute;
top: 0;
left: 50%;
z-index: 1001;
margin-top:-5px;
}
.navlogoSV:before {
    display: block;
    margin-top: 6px;
    position: absolute;
    top: 42px;
    left: 2px;
    width: 90px;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 40px solid black;
    border-bottom:40px solid transparent;
    content: '';
    z-index: 1;
    border-radius:30px;
}
.logo {
    height:50px;
    border-radius:0px;
    margin-top:4px;
    z-index:100;
    position:relative;
}
/* Mobile Nav */
.mobilenavbar {
    display:none;
    height:60px;
    opacity:0;
}
.mobilenav {
    display:none;
}
.mobileworksnav{
  display:none;
}
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.menu-wrap a {
	color: #FFFFFF;
}
.menu-wrap i {
    color:#444a56;
}
.menu-wrap a:hover,
.menu-wrap a:focus {
	color: #ffb96c;
}
.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	-webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
	transition: opacity 0.4s, transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Menu Button */
.menu-button {
	position: fixed;
	z-index: 1000;
	margin: .2em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	text-indent: 2.5em;
	font-size: 1.5em;
	color: transparent;
	background: transparent;
}

.menu-button::before {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	bottom: 0.5em;
	left: 0.5em;
	background: linear-gradient(#ffb96c 20%, transparent 20%, transparent 40%, #ffb96c 40%, #ffb96c 60%, transparent 60%, transparent 80%, #ffb96c 80%);
	content: '';
}

.menu-button:hover {
	opacity: 0.6;
}

/* Close Button */
.close-button {
    width: 2em;
    height: 1.4em;
    position: absolute;
    right: 0em;
    top: 0.5em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 2em;
    border: none;
    background: transparent;
    color: transparent;
}

.close-button::before,
.close-button::after {
	content: '';
	position: absolute;
	width: 3px;
	height: 100%;
	top: 0;
	left: 50%;
	background: #bdc3c7;
}
.container-fluid {
    padding-left:0px;
    padding-right:0px;
}
.close-button::before {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.close-button::after {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

/* Menu */
.menu-wrap {
	position: absolute;
	z-index: 1001;
	background: #080808;
	padding-top:20px;
	font-size: 1.15em;
	-webkit-transform: translate3d(-320px,0,0);
	transform: translate3d(-320px,0,0);
	-webkit-transition: -webkit-transform 0.4s;
	transition: transform 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}
.menu, 
.icon-list {
	height: 100%;
}

.icon-list {
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
    padding-bottom:20px;
    margin-top:20px;
}
.icon-list ul {
    text-align:left;
}
.icon-list li {
    padding: 0px 30px;
    padding-bottom:20px;
}
.icon-list,
.icon-list a {
	-webkit-transition: -webkit-transform 0s 0.4s;
	transition: transform 0s 0.4s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.icon-list a:nth-child(2) {
	-webkit-transform: translate3d(0,1000px,0);
	transform: translate3d(0,1000px,0);
}
.icon-list a:nth-child(3) {
	-webkit-transform: translate3d(0,1500px,0);
	transform: translate3d(0,1500px,0);
}
.icon-list a:nth-child(4) {
	-webkit-transform: translate3d(0,2000px,0);
	transform: translate3d(0,2000px,0);
}

.icon-list a:nth-child(5) {
	-webkit-transform: translate3d(0,2500px,0);
	transform: translate3d(0,2500px,0);
}

.icon-list a:nth-child(6) {
	-webkit-transform: translate3d(0,3000px,0);
	transform: translate3d(0,3000px,0);
}
.icon-list a span {
	margin-left: 10px;
	font-weight: 700;
    font-size: 23px;
    color:#FFFFFF;
    text-transform:uppercase;
    letter-spacing:0.05em;
    margin:0;
    padding:0;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    line-height:.5em;
}
.icon-list a span:hover {
    color:#ffb96c;
}
.icon-list a:hover {
    color:#ffb96c;
}
.social {
    font: 17px Roboto;
    margin-left: 10px;
	font-weight: 700;
    color:#FFFFFF;
    text-transform:uppercase;
    letter-spacing:0.07em;
    margin:0;
    padding:0;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    padding-left:10px;
}
.moveright {
    padding-right:20px;
}
.moverighter {
    padding-right:25px;
}
/* Shown menu */
.show-menu .menu-wrap {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list,
.show-menu .icon-list a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	-webkit-transition: -webkit-transform 0.8s;
	transition: transform 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.show-menu .icon-list a {
	-webkit-transition-duration: 0.9s;
	transition-duration: 0.9s;
        -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.show-menu .content::before {
	opacity: 1;
	-webkit-transition: opacity 0.8s;
	transition: opacity 0.8s;
	-webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	transition-timing-function: cubic-bezier(0.7,0,0.3,1);
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
.social-links::before {
    display: block;
    position: relative;
    top: 0;
    left: 33px;
    width: 16px;
    height: 1px;
    background: #21293d;
    content: '';
    margin-top:30px;
    margin-bottom:50px;
}
.pad-fix{
    padding-right:0px;
}
/* END MOBILE NAV */
/* Nav Adjustments */


/*GLOWER BAR */
.draw {
  position: fixed;
}
.draw::before, .draw::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border-bottom: 2px solid transparent;
  width: 0;
  height: 0;
}
.draw::before {
  top: 0;
  left: 0;
  border-top-color: transparent;
  border-right-color: transparent;
  animation: border 2s infinite;
}
.draw::after {
  bottom: 0;
  right:0;
  animation: border 6s 1s infinite, borderColor 6s 1s infinite;
  transform: scale3d(1,1,1);
  transition: transform 0.5s;
}

@keyframes border {
  0% {
    width: 0;
    height: 0;
  }
  25% {
    width: 100%;
    height: 0;
  }
  50% {
    width: 100%;
    height: 10%;
  }
  100% {
  width: 50%;
  height: 10%;
  }
}
@keyframes borderColor {
  0% {
    border-bottom-color:#ffb96c;
    border-left-color: transparent;
  }
  50% {
    border-bottom-color:transparent;
    border-left-color: transparent;
  }
  51% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
  100% {
    border-bottom-color: transparent;
    border-left-color: transparent;
  }
}
/*END GLOWER */

/*************************/
/* Works Nav */
.testmove2 {
  margin-left:50px;
}
.testmove3 {
  margin-right:50px;
}
.work-navigation {
    margin: -28px 0 0;
    position: fixed;
    top: 560px;
    left: 0;
    width: 100%;
    height: 0;
    z-index: 3;
}
.nav-fillpath a {
	position: absolute;
	top: 50%;
	display: block;
	outline: none;
	text-align: left;
	z-index: 1000;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.nav-fillpath a.prev {
	left: 0;
}

.nav-fillpath a.next {
	right: 0;
}

.nav-fillpath a svg {
	display: block;
	margin: 0 auto;
	padding: 0;
}
/*--------------------*/
/* Fillpath 
/*--------------------*/
.nav-fillpath a {
	width: 100px;
	height: 100px;
}

.nav-fillpath .icon-wrap {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
}

.nav-fillpath a::before,
.nav-fillpath a::after,
.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
	position: absolute;
	left: 50%;
	width: 3px;
	height: 50%;
	background: #566475;
	content: '';
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.nav-fillpath .icon-wrap::before,
.nav-fillpath .icon-wrap::after {
	z-index: 100;
	height: 0;
	background: #ffb96c;
	-webkit-transition: height 0.3s, -webkit-transform 0.3s;
	transition: height 0.3s, transform 0.3s;
}

.nav-fillpath a::before,
.nav-fillpath .icon-wrap::before {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-135deg);
	transform: translateX(-50%) rotate(-135deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.nav-fillpath a.next::before,
.nav-fillpath a.next .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(135deg);
	transform: translateX(-50%) rotate(135deg);
	-webkit-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.nav-fillpath a::after,
.nav-fillpath .icon-wrap::after {
	top: 50%;
	-webkit-transform: translateX(-50%) rotate(-45deg);
	transform: translateX(-50%) rotate(-45deg);
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
}

.nav-fillpath a.next::after,
.nav-fillpath a.next .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(45deg);
	transform: translateX(-50%) rotate(45deg);
	-webkit-transform-origin: 100% 0%;
	transform-origin: 100% 0%;
}

.nav-fillpath h3 {
	position: absolute;
	top: 50%;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1em;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
  background-color:black;
  padding:15px;
  border-radius:20px;
}

.nav-fillpath a.prev h3 {
	left: 100%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}

.nav-fillpath a.next h3 {
	right: 100%;
	text-align: right;
	-webkit-transform: translateY(-50%) translateX(50%);
	transform: translateY(-50%) translateX(50%);
}

.nav-fillpath a:hover .icon-wrap::before,
.nav-fillpath a:hover .icon-wrap::after {
	height: 50%;
}

.nav-fillpath a:hover::before,
.nav-fillpath a:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(-125deg);
	transform: translateX(-50%) rotate(-125deg);
}

.nav-fillpath a.next:hover::before,
.nav-fillpath a.next:hover .icon-wrap::before {
	-webkit-transform: translateX(-50%) rotate(125deg);
	transform: translateX(-50%) rotate(125deg);
}

.nav-fillpath a:hover::after,
.nav-fillpath a:hover .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(-55deg);
	transform: translateX(-50%) rotate(-55deg);
}

.nav-fillpath a.next:hover::after,
.nav-fillpath a.next:hover .icon-wrap::after {
	-webkit-transform: translateX(-50%) rotate(55deg);
	transform: translateX(-50%) rotate(55deg);
}

.nav-fillpath a:hover h3 {
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(0);
	transform: translateY(-50%) translateX(0);
}
@media (max-width:910px) {
  .mockimage {

  }
  .work-navigation {
    top:93px;
    z-index:2000;
  }
  .nav-fillpath h3 {
	position: absolute;
	top: 50%;
	margin: 0;
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 0.85em;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
  background-color:rgba(0,0,0,0.7);
  padding:20px;
  border-radius:30px;
  }
}
/*** END WORKS NAV ***/
/** HEXAGON CSS **/
.hexagon p {
  text-align:center;
  color:rgba(255,255,255,0.9);
  font-size:15px;
  margin-top:2px;
}
.hexagon p:after, .hexagon p:before{
  content: "";
  position: absolute;
  top:10px;
  height: 2px;
  border-bottom: 1px solid white;
  width: 100px;
}
.hexagon p:before {
  right: 100%;
  margin-right: 15px;
}
.hexagon p:after {
  left: 100%;
  margin-left: 15px;
}
.hexagon {
  position: relative;
  width: 50px; 
  height: 28.87px;
  background:transparent;
  margin: 80px 0;
  margin-top:200px;
  border-left: solid 3px #ffb96c;
  border-right: solid 3px #ffb96c;
  opacity:0.9;
}
.hexagon:before,
.hexagon:after {
  content: "";
  position: absolute;
  z-index: 1;
  width: 35.36px;
  height: 35.36px;
  -webkit-transform: scaleY(0.5774) rotate(-45deg);
  -ms-transform: scaleY(0.5774) rotate(-45deg);
  transform: scaleY(0.5774) rotate(-45deg);
  background-color: inherit;
  left: 4.3223px;
}

.hexagon:before {
  top: -17.6777px;
  border-top: solid 4.2426px #ffb96c;
  border-right: solid 4.2426px #ffb96c;
  opacity:0.9;
}

.hexagon:after {
  bottom: -17.6777px;
  border-bottom: solid 4.2426px #ffb96c;
  border-left: solid 4.2426px #ffb96c;
  opacity:0.9;
}
/**END HEXAGON CSS **/
/** WORK IMAGES **/
.workimages {
  margin-top:20px;
}
/** WORK IMAGES **/
/** MEDIA QUERIES **/
@media (max-width:1000px) {
  #cd-intro{
    margin-top:125px;
  }
    .workheader {
    font-size:45px;
    padding-right:35px;
    padding-left:35px;
  }
}
@media (max-width:750px) {
 .caseheader {
  line-height:50px;
  font-size:90px;
}
.caseheadersmall {
  font-size:15px;
  margin-top:20px;
}
.mockimage {
  width:100%;
}
  .aboutdesktopnav {
        display:none;
    }
    .mobilenav {
        display:block;
    }
    .navbar {
    background-color: rgba(0, 0, 0, 1);
    padding:0;
    height:60px;
    }
    .nav-fillpath a::before, .nav-fillpath a::after, .nav-fillpath .icon-wrap::before, .nav-fillpath .icon-wrap::after {
    position: absolute;
    width: 3px;
    height: 40%;
    background: #566475;
    content: '';
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    }
    .nav-fillpath .icon-wrap::before, .nav-fillpath .icon-wrap::after {
    z-index: 100;
    height: 0;
    background: #ffb96c;
    -webkit-transition: height 0.3s, -webkit-transform 0.3s;
    transition: height 0.3s, transform 0.3s;
  }
  .nav-fillpath a {
	width: 100px;
	height: 60px;
  }
  .work-navigation {
    display:none;
  }
  .mobileworksnav {
    display:block;
  }
  .worksubheader2 {
    font-size: 40px;
  }
  .workheader {
    font-size:35px;
    padding-right:35px;
    padding-left:35px;
}
  #cd-intro{
  margin-top:100px;
  }
.workdescription {
  font-size:15px;
}
.hexagon {
  margin: 80px 0;
}
}
@media (max-width:450px) {
  .caseheader {
  font-size:60px;
  line-height:40px;
  }
  #cd-intro{
  margin-top:100px;
  margin-bottom:50px;
  }
  .testmove2 {
  margin-left:15px;
  }
.testmove3 {
  margin-right:15px;
  }
}